{% extends 'base.html' %}
{% load static %}
{% block title %} خانه {% endblock %}
{% block content %}

    <div class="jumbotron ff text-center" style="background: #e5d6b7 ">
        <div>
            <div class="container">
                <h1 class="display-3" style="color: #4c4731">عسل 100% طبیعی</h1>
                <p>

                </p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            {% for i in index_listo %}
                <div class="col-md-4 rtl ff ">
                    <h2>{{ i.n_h2 }}</h2>
                    <p>
                        {{ i.n_p }}
                    </p>
                    <p><a class="btn btn-secondary" href="#" role="button">{{ i.n_span }} &raquo;</a></p>
                </div>
            {% endfor %}
        </div>
    </div>






    <div class="container ff">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="row">
                    {% for i in product_list %}
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <h2 class="mb-0">
                                            <a class="text-dark" href="#">{{ i.n_h2 }}</a>
                                        </h2>
                                        <div class="mb-1 text-muted">{{ i.n_span }}</div>

                                        <h3 class="product-name"><a href="{{ i.get_absolute_url }}">بیشتر..</a></h3>
                                    </div>
                                    <div class="col-md-4">
                                        <img
                                                src="{{ i.image.url }}" style="height: 100%;width: 100%"
                                                alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}