{% extends 'base.html' %}
{% load static %}
{% block title %} فروشگاه {% endblock %}
{% block content %}

    <div class="alert alert-success ff rtl">
        <strong>بخش خرید در حال تکمیل است .</strong> از صبوری شما متشکریم.
    </div>
    <div class="alert alert-primary ff rtl">
        <strong><a href="{% url 'shop:base' %}">می توانید در صورت نیاز از با ما تماس بگیرید .</a>  </strong>
    </div>
    <div class="album py-5 ">
        <div class=" rtl">
            <div class="container">
                <div class="row">
                    {% for i in store_list %}
                        <div class="col-md-4 ">
                            <div class="card mb-4 box-shadow ">
                                <div class="card-header ">
                                    <h4 class="my-0 font-weight-normal">{{ i.name }}</h4>
                                </div>
                                <div class="product">
                                    <div class="product-img">
                                        <img class="img-thumbnail img-responsive "
                                             src="{{ i.image.url }}" style="height: 262pt">
                                    </div>
                                    <div class="card-body">
                                        <h1 class="card-title pricing-card-title">{{ i.price }} <small
                                                class="text-muted">تومان</small></h1>

                                        <button id="p1" type="button "
                                                class="btn btn-lg btn-block btn-outline-warning">
                                            خرید
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}